body {
  margin: 0;
  background: linear-gradient(rgb(125,110,50), rgb(100,50,50));
  color: #fff;
  display: grid;
  place-items: center;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}
.App {
  width: 80%;
  max-width: 800px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
a {
  color: rgb(135,100,255);
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.meal-item {
  background: rgba(255, 255, 255, 0.2);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.meal-item img {
  max-width: 100%;
  border-radius: 10px;
}
.meal-item h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.meal-item p {
  font-size: 1rem;
  line-height: 1.5;
}
@media (max-width: 600px) {
  .App {
    width: 90%;
  }
  input[type="text"] {
    font-size: 0.9rem;
  }
}
